@model StuddentsAppProject.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="FirstName" class="control-label">First name:*</label>
                <input asp-for="FirstName" class="form-control" placeholder="Insert first name"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="LastName" class="control-label">Last name:*</label>
                <input asp-for="LastName" class="form-control" placeholder="Insert last name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="BirthDate" class="control-label">Date of birth:*</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="my-3">
    <a href="@Url.Action("Index", "Students")" class="text-decoration-none">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
